.deps
Makefile
Makefile.in
*.o
*.so
*.a
aclocal.m4
autom4te.cache
config.guess
config.log
config.sub
config.status
configure
depcomp
install-sh
missing
src/bindings/python/build/
src/bindings/python/setup.py
xynapse
xynapse.conf
modules/